{% extends 'base.html.twig' %}
{% block title %}Main{% endblock %}
{% block main %}
    <div class="container index">
        <section>
            <div class="d-flex flex-row gap-5">
                <img src="{{ asset('build/images/pedro.gif') }}" alt="Developer Icon">
                <div>
                    <h1>{{ '_index.title1' | trans }}</h1>
                    <div>
                        <p>{{ '_index.p1' | trans }}</p>
                    </div>
                    <div class="downloadBtn custom_btn clear_btn">
                        <button class="btn_top downloadCV" type="button">{{ '_index.downloadCV' | trans }}</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="popular_projects">
            <h1>{{ '_index.title2' | trans}}</h1>
            <div class="d-flex flex-row p-3 justify-content-center align-content-center gap-2">
                <div class="card">
                    <img src="{{ asset('build/images/spotifyclone.webp') }}" class="card-img-top p-1 mx-auto" alt="Spotify preview">
                    <div class="card-body py-1 text-center">
                        <h5 class="card-title">{{ '_projects.spotifyclone.title' | trans }}</h5>
                        <p class="card-text">{{ '_projects.spotifyclone.cardText' | trans }}</p>
                        <a href="#" class="btn btn-primary">{{ '_index.cardButton' | trans }}</a>
                    </div>
                </div>
                <div class="card">
                    <img src="{{ asset('build/images/m4wser.webp') }}" class="card-img-top p-1 mx-auto" alt="M4wser preview">
                    <div class="card-body py-1 text-center">
                        <h5 class="card-title">{{ '_projects.m4wser.title' | trans }}</h5>
                        <p class="card-text">{{ '_projects.m4wser.cardText' | trans }}</p>
                        <a href="#" class="btn btn-primary">{{ '_index.cardButton' | trans }}</a>
                    </div>
                </div>
                <div class="card">
                    <img src="{{ asset('build/images/tracker.webp') }}" class="card-img-top p-1 mx-auto" alt="Tracker preview">
                    <div class="card-body py-1 text-center">
                        <h5 class="card-title">{{ '_projects.tracker.title' | trans }}</h5>
                        <p class="card-text">{{ '_projects.tracker.cardText' | trans }}</p>
                        <a href="#" class="btn btn-primary">{{ '_index.cardButton' | trans }}</a>
                    </div>
                </div>
                <div class="card">
                    <img src="{{ asset('build/images/livechat.webp') }}" class="card-img-top p-1 mx-auto" alt="LiveChat preview">
                    <div class="card-body py-1 text-center">
                        <h5 class="card-title">{{ '_projects.liveChat.title' | trans }}</h5>
                        <p class="card-text">{{ '_projects.liveChat.cardText' | trans }}</p>
                        <a href="#" class="btn btn-primary">{{ '_index.cardButton' | trans }}</a>
                    </div>
                </div>
                <div class="card">
                    <img src="{{ asset('build/images/porfolio.webp') }}" class="card-img-top p-1 mx-auto" alt="Porfolio preview">
                    <div class="card-body py-1 text-center">
                        <h5 class="card-title">{{ '_projects.portfolio.title' | trans }}</h5>
                        <p class="card-text">{{ '_projects.portfolio.cardText' | trans }}</p>
                        <a href="#" class="btn btn-primary">{{ '_index.cardButton' | trans }}</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="tools">
            <div class="container d-flex flex-column">
                <h1>{{ '_index.title3' | trans}}</h1>
                <!-- Languages -->
                <div class="d-flex flex-row gap-3">
                    <h2 class="col-2">{{ '_skills.languages' | trans }}</h2>
                    <div class="card col-1">
                        <img src="{{ asset('build/images/java.webp') }}" class="card-img-top p-1 mx-auto" alt="Java icon">
                        <div class="card-body py-1 text-center">
                            <p class="card-text">Java</p>
                        </div>
                    </div>
                    <div class="card col-1">
                        <img src="{{ asset('build/images/javascript.webp') }}" class="card-img-top p-1 mx-auto" alt="Javascript icon">
                        <div class="card-body py-1 text-center">
                            <p class="card-text">JavaScript</p>
                        </div>
                    </div>
                    <div class="card col-1">
                        <img src="{{ asset('build/images/php.webp') }}" class="card-img-top p-1 mx-auto" alt="Php icon">
                        <div class="card-body py-1 text-center">
                            <p class="card-text">PHP</p>
                        </div>
                    </div>
                    <div class="card col-1">
                        <img src="{{ asset('build/images/python.webp') }}" class="card-img-top p-1 mx-auto" alt="Python icon">
                        <div class="card-body py-1 text-center">
                            <p class="card-text">Python</p>
                        </div>
                    </div>
                    <div class="card col-1">
                        <img src="{{ asset('build/images/c.webp') }}" class="card-img-top p-1 mx-auto" alt="C icon">
                        <div class="card-body py-1 text-center">
                            <p class="card-text">C</p>
                        </div>
                    </div>
                </div>
                <!-- Frontend -->
                <div class="d-flex flex-row gap-3">
                    <h2 class="col-2">{{ '_skills.frontend' | trans }}</h2>
                    <div class="card col-1">
                        <img src="{{ asset('build/images/html.webp') }}" class="card-img-top p-1 mx-auto" alt="Html icon">
                        <div class="card-body py-1 text-center">
                            <p class="card-text">HTML</p>
                        </div>
                    </div>
                    <div class="card col-1">
                        <img src="{{ asset('build/images/css-3.webp') }}" class="card-img-top p-1 mx-auto" alt="Css icon">
                        <div class="card-body py-1 text-center">
                            <p class="card-text">CSS</p>
                        </div>
                    </div>
                </div>
                <!-- Backend -->
                <div class="d-flex flex-row gap-3">
                    <h2 class="col-2">{{ '_skills.backend' | trans }}</h2>
                    <div class="card col-1">
                        <img src="{{ asset('build/images/java.webp') }}" class="card-img-top p-1 mx-auto" alt="Java icon">
                        <div class="card-body py-1 text-center">
                            <p class="card-text">Java</p>
                        </div>
                    </div>
                    <div class="card col-1">
                        <img src="{{ asset('build/images/php.webp') }}" class="card-img-top p-1 mx-auto" alt="Php icon">
                        <div class="card-body py-1 text-center">
                            <p class="card-text">PHP</p>
                        </div>
                    </div>
                </div>
                <!-- Databases -->
                <div class="d-flex flex-row gap-3">
                    <h2 class="col-2">{{ '_skills.database' | trans }}</h2>
                    <div class="card col-1">
                        <img src="{{ asset('build/images/sql.webp') }}" class="card-img-top p-1 mx-auto" alt="Sql icon">
                        <div class="card-body py-1 text-center">
                            <p class="card-text">SQL</p>
                        </div>
                    </div>
                    <div class="card col-1">
                        <img src="{{ asset('build/images/nosql.webp') }}" class="card-img-top p-1 mx-auto" alt="NoSql icon">
                        <div class="card-body py-1 text-center">
                            <p class="card-text">NoSQL</p>
                        </div>
                    </div>
                    <div class="card col-1">
                        <img src="{{ asset('build/images/mongodb.webp') }}" class="card-img-top p-1 mx-auto" alt="MongoDB icon">
                        <div class="card-body py-1 text-center">
                            <p class="card-text">MongoDB</p>
                        </div>
                    </div>
                    <div class="card col-1">
                        <img src="{{ asset('build/images/redis.webp') }}" class="card-img-top p-1 mx-auto" alt="Redis icon">
                        <div class="card-body py-1 text-center">
                            <p class="card-text">Redis</p>
                        </div>
                    </div>
                    <div class="card col-1">
                        <img src="{{ asset('build/images/mariadb.webp') }}" class="card-img-top p-1 mx-auto" alt="MariaDB icon">
                        <div class="card-body py-1 text-center">
                            <p class="card-text">MariaDB</p>
                        </div>
                    </div>
                </div>
                <!-- Frameworks -->
                <div class="d-flex flex-row gap-3">
                    <h2 class="col-2" class="col-2">{{ '_skills.frameworks' | trans }}</h2>
                    <div class="card col-1">
                        <img src="{{ asset('build/images/spring-boot.webp') }}" class="card-img-top p-1 mx-auto" alt="...">
                        <div class="card-body py-1 text-center">
                            <p class="card-text">Spring Boot</p>
                        </div>
                    </div>
                    <div class="card col-1">
                        <img src="{{ asset('build/images/symfony.webp') }}" class="card-img-top p-1 mx-auto" alt="...">
                        <div class="card-body py-1 text-center">
                            <p class="card-text">Symfony</p>
                        </div>
                    </div>
                    <div class="card col-1">
                        <img src="{{ asset('build/images/bootstrap.webp') }}" class="card-img-top p-1 mx-auto" alt="...">
                        <div class="card-body py-1 text-center">
                            <p class="card-text">Bootstrap</p>
                        </div>
                    </div>
                    <div class="card col-1">
                        <img src="{{ asset('build/images/webpack.webp') }}" class="card-img-top p-1 mx-auto" alt="...">
                        <div class="card-body py-1 text-center">
                            <p class="card-text">WebCore</p>
                        </div>
                    </div>
                </div>
                <!-- Others -->
                <div class="d-flex flex-row gap-3">
                    <h2 class="col-2">{{ '_skills.various' | trans }}</h2>
                    <div class="card col-1">
                        <img src="{{ asset('build/images/git.webp') }}" class="card-img-top p-1 mx-auto" alt="...">
                        <div class="card-body py-1 text-center">
                            <p class="card-text">Git</p>
                        </div>
                    </div>
                    <div class="card col-1">
                        <img src="{{ asset('build/images/docker.webp') }}" class="card-img-top p-1 mx-auto" alt="...">
                        <div class="card-body py-1 text-center">
                            <p class="card-text">Docker</p>
                        </div>
                    </div>
                    <div class="card col-1">
                        <img src="{{ asset('build/images/figma.webp') }}" class="card-img-top p-1 mx-auto" alt="...">
                        <div class="card-body py-1 text-center">
                            <p class="card-text">Figma</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}