
<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm py-3 py-lg-0 px-3 px-lg-0">
    <a href="{{ path('main_index') }}" class="navbar-brand ms-lg-5">
        <h1 class="m-0 text-uppercase text-dark"><i class="bi bi-shop fs-1 text-primary me-3"></i>{{ '_general.name' | trans }}</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0">
            <a href="{{ path('main_index') }}" class="nav-item nav-link {{ (app.request.attributes.get('_route') == 'main_index')  ? 'active': ''}}">{{ '_general.home' | trans }}</a>
            <a href="{{ path('main_login') }}" class="nav-item nav-link {{ (app.request.attributes.get('_route') == 'main_login')  ? 'active': ''}}">{{ '_nav.login' | trans }}</a>
            {% if app.user %}
            <a href="{{ path('main_logout') }}" class="nav-item nav-link">{{ '_nav.logout' | trans }}</a>
            {% endif %}

            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">{{ '_nav.lang' | trans }}</a>
                <div class="dropdown-menu m-0">
                    <a href="{{ path('set_lang', {'lang': 'es'})}}" class="dropdown-item lang">Español</a>
                    <a href="{{ path('set_lang', {'lang': 'en'})}}" class="dropdown-item lang">English</a>

                </div>
            </div>
            <a href="{{ path('main_contact') }}" class="nav-item nav-link nav-contact bg-primary text-white px-5 ms-lg-5">{{ '_general.contact' | trans }}<i class="bi bi-arrow-right"></i></a>

        </div>
    </div>
</nav>
<!-- Navbar End -->