<!DOCTYPE html>
<html lang="en">

<!-- HEAD START -->
{{ include ('partials/_head.html.twig') }}
<!-- HEAD END -->

<body>

<!-- HEADER START -->
{{ include ('partials/_header.html.twig') }}
<!-- HEADER END -->

<!-- MAIN START -->
<main class="bg-light py-1">
    {% block main %}
    {% endblock %}
</main>
<!-- MAIN END -->

<!-- FOOTER START -->
{{ include ('partials/_footer.html.twig') }}
<!-- FOOTER END -->

<!-- TOP BUTTON START -->
{{ include ('partials/_topButton.html.twig') }}
<!-- TOP BUTTON END -->

<!-- SCRIPTS START -->
{{ include ('partials/_scripts.html.twig') }}
{% block script %}
{% endblock %}
<!-- SCRIPTS END -->

</body>
</html>
